!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi, #{@user.first_name if @user.first_name.present?}
    %p
      You have asked to change your email,
      please do so by clicking on the following link: #{@url}
      The token is valid for four hours.
      %br/
    %p Thanks you and have a great day!
