!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hello,
    %p
      We have received a request from you or someone else to reset the password of your Offering CRE account. Please click on the link below to reset your password.
      %a{:href => @url} "#{@url}"
      %br/
      %br/
      The token is valid for four hours. If you do not wish to change your password you can simply ignore this email.
      %br/
      %br/
      Best Regards,
      %br/
      The Offering CRE Team








